<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/admin.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
   
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
<header>
    {% with message = get_flashed_messages() %}
    {% if message %}
    {% for x in message %}
    
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{x}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
     
    {% endfor %}
    {% endif %}
    {% endwith %}

</header>
    <div class="form">
        <div class="form-content">
            <form action="" method="POST">
                <div class="img-icon">
                    <i class="fas fa-user-circle fa-3x"></i>
                </div>
                <div class="form-group">

                    <div class="input-group input">
                        <div class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <input class="form-control" name="username" placeholder="username" type="text" required />
                    </div>
                    <div class="input-group input">
                        <div class="input-group-addon">
                            <i class="fas fa-key"></i>
                        </div>
                        <input class="form-control" name="password" placeholder="password" type="password" required />
                    </div>
                    <div class="submit-btn">
                        <input class="btn btn-success" type="submit" value="Login" />
                    </div>
                </div>
            </form>
        </div>
    </div>



    <script src="" async defer>
    </script>
</body>

</html>