{% extends "base.html" %}
{% block content %}

<main>
    <h2> Universities in Turkey & Cyprus</h2>
    <hr>
    <div class="card" style="text-align: center;">
        <div class="card-body">
            <h5 class="card-title">50% - 70% Scholraship Availabe For Undergraduate and Masters Students</h5>
            <h6 class="card-subtitle mb-2 text-muted">Application fee as Low as 50USD</h6>
            <p class="card-text">Study Overseas, No Agent Fee Required, We will guide You all through the procedures required to get your Admission and Visa Successfully.</p>
            <a {%if user.is_authenticated %} href="/feed" {%endif%}  {%if not user.is_authenticated %}  href="/signup" {%endif%} class="btn btn-primary">Apply</a>
           
        </div>
    </div>
<h2 style="margin: 40px 0;"> Schools Informations</h2>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col">
                <h3>Rank</h3>
            </div>
            <div class="col">
                <h3>University</h3>
            </div>
            <div class="col">
                <h3>Country</h3>
            </div>
            <div class="col">
                <h3>Region</h3>
            </div>
            <div class="col">
                <h3>Tition Fee</h3>
            </div>
            <div class="col">
                <h3>Scholraship</h3>
            </div>
        </div>
    <div class="row justify-content-md-center">
        <div class="col">
            1
        </div>
            <div class="col">
               Near East University
            </div>
            <div class="col">
               Cyprus
            </div>
            <div class="col">
               Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                2
            </div>
            <div class="col">
                Eastern Meditereanan University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                3
            </div>
            <div class="col">
                Cyprus International University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                2
            </div>
            <div class="col">
                Eastern Meditereanan University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                5
            </div>
            <div class="col">
                Eastern Meditereanan University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                6
            </div>
            <div class="col">
                Eastern Meditereanan University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                2
            </div>
            <div class="col">
                Eastern Meditereanan University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                2
            </div>
            <div class="col">
                Eastern Meditereanan University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
        <hr>
        <div class="row justify-content-md-center">
            <div class="col">
                2
            </div>
            <div class="col">
                Eastern Meditereanan University
            </div>
            <div class="col">
                Cyprus
            </div>
            <div class="col">
                Lefkosa
            </div>
            <div class="col">
                2400USD
            </div>
            <div class="col">
                Available
            </div>
        </div>
    </div>
<hr>
    <h2  style="margin: 40px 0;"> Requirements To Study in Cyprus</h2>
    <div class="container">
        <ol>
            <li><b>International Passport Valid for 3 years</b></li>
            <li><b>Bachelors certificate & Transcript (Masters)/ High school Leaving Certificate(Under Graduate)</b></li>
            <li><b>6 Passport Photographs</b></li>
            <li><b>No Visa Or Embassy Required</b></li>
            <li><b>Negative Covid-19PCR Test (Before Traveling)</b></li>
        
        </ol>
    </div>
    <hr>
    <h2  style="margin: 40px 0;"> Requirements To Study in Turkey</h2>
    <div class="container">
        <ol>
            <li><b>International Passport Valid for 3 years</b></li>
            <li><b>Bachelors certificate & Transcript (Masters)/ High school Leaving Certificate(Under Graduate)</b></li>
            <li><b>14 Passport Photographs</b></li>
            <li><b>Visa</b></li>
            <li><b>Negative Covid-19PCR Test (Before Traveling)</b></li>
        </ol>
        <h3> Requirements For Turkey Student Visa</h3>
        <ol>
            <li><b>International Passport Valid for 3 years</b></li>
            <li><b>Bank Statement</b></li>
            <li><b>Admission Letter</b></li>
            <li><b>14 Passport Phootographs</b></li>
            <li><b>Flight Itenerary </b></li>
            <li><b>Flight Reservation</b></li>
            <li><b>Proof of Accomodation</b></li>


        </ol>
    </div>
</main>



{% endblock %}