{% extends "base.html" %}
{% block content %}



<div class="wa-search-bg">
    <div class="wa-search">
    <form method="post">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Filter By</label>
            <select class="form-control" id="exampleFormControlSelect1" name="category">
                <option disabled value="" selected>Filter by</option>
                <option>Easter mediterian</option>
                <option>Near East</option>
                <option>Cyprus International University</option>
                <option>Market Place</option>
                <option>Adverts</option>
                <option>Party</option>
                <option>Church</option>
                <option>Get Together</option>
                <option>Study</option>
            </select>
            <input type="submit" class="btn btn-secondary" value="Search">
        </div>
     
    </form>
    </div>
</div>

<div class="whatsapp">
    {% if whatsapp %}
    {% for x in whatsapp %}
    <div class="wa-bg">
        <div class="wa"> 
           <div class="wa-head"><h3>{{x.name}}</h3></div> 
           <a href={{x.link}} target="_blank" rel="noopener noreferrer">{{x.link}}</a>
        </div>
    </div>
    {% endfor%}
    {% endif %}

    {% if not whatsapp %}
    {%endif%}
</div>

{% endblock %}